:root {
  --color-black: #000000;
  --color-jasper: #DB504A;
  --color-sunset: #F0CEA0;
  --color-verdigris: #48A9A6;
  --font-display: "Departure Mono";
  --font-sans: "Source Sans 3";
  --font-serif: "Cormorant Garamond";
  --unit: 16px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

h1, h2, h3, h4, h5, p {
  font-family: var(--font-serif);
  font-size: var(--unit);
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
}

.markdown ul,
.markdown ol {
  margin-bottom: var(--unit);
}

.markdown ul:last-child {
  margin-bottom: var(--unit);
}

.markdown li {
  font-family: var(--font-sans);
  font-size: var(--unit);
  line-height: calc(var(--unit) * 1.5);
  margin-left: var(--unit);
  padding-left: var(--unit);
}

.markdown p {
  font-family: var(--font-sans);
  font-size: var(--unit);
  line-height: calc(var(--unit) * 1.5);
  margin-bottom: var(--unit);
}
.markdown h1,
.markdown h2,
.markdown h3 {
  font-size: calc(var(--unit) * 2);
}

.markdown p:last-child {
  margin-bottom: 0;
}

.clear {
  clear: both;
}